@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jockey+One&family=Kite+One&family=Rubik+Mono+One&family=Squada+One&display=swap');

*{
    padding: 0px;
}


body{
    font-family: 'Julius Sans One', sans-serif;
}


:root{
    --cor0: #fff;
    --cor1: #808080;
    --cor2: #3D3D3D;
    --cor3: #3B3B3B;
    --cor4: #303030;
    --cor5: #101010;
    --cor6: #14aac8;  
    --cor7: #242424;
}
 nav{  
    text-decoration: none;  
    position:fixed;
    z-index: 3000;
    top: 0;
    left: 0;    
    width: 100%;
    height: 60px;
    background-color:var(--cor5);        
}
label.logo{
    text-decoration: none;
    color: var(--cor0);
    font-size: 25px;
    line-height: 60px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul {
    text-decoration: none;
    float: right;    
    margin-right:20px;
    margin-top: 8.5px;
}
nav ul li {
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;    
}
nav ul li a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 15px;
    padding: 7px 22px;
    border-radius: 5px;
    text-transform: uppercase;
}


li a:hover:not(.link-inicio){
    background-color: var(--cor0);
    color: var(--cor6);    
    transition-duration:.7s;
    border-radius: 5px;    
}


.link-inicio{
    text-decoration: none;
    background-color:var(--cor6);
    color: var(--cor0);
}
.checkbtn{
    text-decoration: none;
    font-size: 30px;
    color: var(--cor0);
    float: right;
    line-height: 50px;
    margin-right: 25px;
    cursor: pointer;  
    display: none;  
}
#check{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding: 50px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vw;
        background-color: var(--cor7);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 15px;
    }
    a:hover,a.active{
        background: none;
        color: var(--cor6);
        transition: .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* -----------------------TERMINA A PARTE DO MENU--------------------------------------------------------*/

.container{
    min-width: 300px;
    max-width: 1200px;
    display: flex;
    /*height: 100vh !important;*/
    margin: 0 auto;
    align-items:center;
    justify-content:space-between;
    gap: 20px;
    flex-wrap:wrap;
    margin-top: 100px;
}
.h1-titulo-pincipal{    
    font-size: 19vh;
    font-family: 'Squada One', cursive;
    margin: auto;
    
}
.ajuste-picture-logo{
    margin: auto;
    

}
.logo-uni{
    max-width: 650px;    
    margin: auto; 
    padding-bottom: 10px;   
}
#linha-horizontal{    
    width: 100%;
    border: 1px solid var(--cor6);
    color: var(--cor6);
}   
#titulo-sobre{     
    margin: 20px auto;       
    flex-wrap:wrap;
    min-width: 300px;
    max-width: 1190px;
    padding-left: 20px;
}
#sobre{
    font-size: 10vh;
    font-family: 'Squada One', cursive;
    display: flex;
    flex-wrap:wrap; 
    margin: 0 auto; 
    margin-bottom: 25px;  
}
#sobre-h4{
    text-indent: -30px;
    font-weight: normal;
    color: var(--cor6);    
    margin: 0 auto;
    font-size: 40px;
    padding-left: 35px;
    font-family: 'Squada One', cursive;
}
.paragrafo-1{
    padding-right: 15px;
    margin-top: 20px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.3em;
    font-family: 'Kite One', sans-serif;
}
/*----------------------------------test parallax------------------------------------------*/

.wrapper{
    width: 100%;
    margin: 0 auto;
  }
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  section.module.parallax:after{
    
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }  
  section.module.parallax-1{
    background-image: url("imagens-uni/Ilustra-para-site-1920x.png")
  }  
  section.module.parallax h1{
    font-family: 'Squada One', cursive;
    color:var(--cor6);
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  /*----------------------------------fim primeiro parallax------------------------------------------*/

  #titulo-fontes{
    margin: 20px auto;       
    flex-wrap:wrap;
    min-width: 300px;
    max-width: 1190px;
    padding-left: 20px;
  }

  .texto-fontes{
    font-size: 10vh;
    font-family: 'Squada One', cursive;
    display: flex;
    flex-wrap:wrap;
  }
  #texo-logo-01{
    padding-right: 15px;
    margin-top: 20px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.3em;
    font-family: 'Kite One', sans-serif;
  }

  img{    
    background-position: right bottom;        
    width: 100%;  
    padding-top: 30px;  
    
}

ol{
    
    margin-top: 15px;
    text-align: justify;
    text-indent: 8px;
    line-height: 1.2em;
    font-size: 1em;
    font-family: 'Kite One', sans-serif;
    padding: 18px;
    margin-left: 50px;

}
/*-------------parallax dois---------------------------------------------*/

.wrapper2{
    width: 100%;
    margin: 0 auto;
  }
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }  
  section.module.parallax-2{
    background-image: url("imagens-uni/Unieburro.jpg")
  }  
  section.module.parallax h1{
    color: var(--cor6);
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  /*---------------fim do parallax dois-----------------------------------*/
  .container-2{
    
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Kite One', sans-serif;
    flex-wrap: wrap;   
}
  .botao-cores{
    background-color: #ff3399;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: white;
}
.botao-cores2{
    background-color: #ffffff;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ff3399;
    
}
.botao-cores3{
    background-color: #fab1d3;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}
.botao-cores4{
    background-color: #f5007b;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}
.botao-cores5{
    background-color: #f21f89;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}
main button:hover {
    background-color: var(--cor6);
    border: 0.188rem solid var(--cor1);
    transition: 0.5s;
}
#linha-horizontal-3{ 
    margin-top: 45px;   
    width: 100%;
    border: 1px solid var(--cor6);
    color: var(--cor6);
}
.p-cores{
    padding-right: 15px;    
    text-align: justify;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.3em;
    font-family: 'Kite One', sans-serif;
    padding: 10px 50px;

}
.p-gradiente{
    padding-right: 15px;
    margin-top: 20px;
    text-align: center;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.3em;
    font-family: 'Kite One', sans-serif;
}
#linha-horizontal-4{ 
    margin-top: 45px;   
    width: 100%;
    border: 1px solid var(--cor6);
    color: var(--cor6);
}
.imagem-logo-start{
    width: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

