@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jockey+One&family=Kite+One&family=Rubik+Mono+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Rubik+Mono+One&display=swap');

*{
   
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
   
}


body{
    font-family: 'Julius Sans One', sans-serif;
}


:root{
    --cor0: #fff;
    --cor1: #808080;
    --cor2: #3D3D3D;
    --cor3: #3B3B3B;
    --cor4: #303030;
    --cor5: #101010;
    --cor6: #14aac8;  
    --cor7: #242424;
}
 nav{    
    position:fixed;
    z-index: 3000;
    top: 0;
    left: 0;    
    width: 100%;
    height: 60px;
    background-color:var(--cor5);        
}
label.logo{
    color: var(--cor0);
    font-size: 25px;
    line-height: 60px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul {
    float: right;    
    margin-right:20px;
    margin-top: 8.5px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;    
}
nav ul li a {
    color: var(--cor0);
    font-size: 15px;
    padding: 7px 22px;
    border-radius: 5px;
    text-transform: uppercase;
}


li a:hover:not(.link-inicio){
    background-color: var(--cor0);
    color: var(--cor5);    
    transition-duration: .5s;
    border-radius: 5px;    
}


.link-inicio{
    background-color:var(--cor6);
    color: var(--cor0);
}
.checkbtn{
    font-size: 30px;
    color: var(--cor0);
    float: right;
    line-height: 50px;
    margin-right: 25px;
    cursor: pointer;  
    display: none;  
}
#check{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding: 50px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vw;
        background-color: var(--cor7);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 15px;
    }
    a:hover,a.active{
        background: none;
        color: var(--cor6);
        transition: .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* -------------------------TERMINA A PARTE DO MENU-------------------------------------------------------------*/


.conteiner{
    width: 100%;
    position: relative;
    
     
}
.conteiner img{
    width: 100%;    
    background-position: right bottom;
}
.textoMeio{    
    flex-wrap: wrap;
    position: absolute;
    bottom: 23vw;
    text-align: justify;
    padding: 20px;
    font-size: 7vw;
    font-family: 'Squada One', cursive;
}


.textoMeio2{
    position: absolute;
    bottom: 20.5vw;
    text-align: justify;
    padding: 20px;
    font-size: 2.5vw;
    color: var(--cor6);
    
}
 
img{    
    background-position: right bottom;        
    width: 100%;  
    padding-top: 30px;  
    
}
/*
img.pequena{
    max-width: 350px;  
    margin: auto;
}*/


main h3{  
    margin-top: 40px;
    position: absolute;
    margin-bottom: 3px;    
    font-weight: normal;
    color: var(--cor5);    
    padding: 20px;
    font-size: 80px;
    font-family: 'Squada One', cursive;
}
#linha-horizontal{
    margin-top: 150px;
    width: 100%;
    border: 1px solid var(--cor6);
    color: var(--cor6);    
}

#sobre-h4{
    text-indent: -30px;
    font-weight: normal;
    color: var(--cor5);    
    padding: 60px 0 0 55px ;
    font-size: 70px;
    font-family: 'Squada One', cursive;
}


main p{    
    margin: 10px 40px;
    margin-top: 50px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.3em;
    font-family: 'Kite One', sans-serif;
}


main button {
    color: var(--cor0);
    background: var(--cor6);
    height: 3.125rem;
    width: 11.25rem;
    font-size: 1.125rem;
    border: none;
    border-radius: 1.625rem;
    cursor: pointer;
    margin-left: 10px;  
    margin-top: 40px;
    margin-bottom: 30px;    
}


main button:hover {
    background-color: var(--cor1);
    border: 0.188rem solid var(--cor5);
    transition: 0.5s;
}

.container-3{
    font-size: 15px;
    font-family: 'Kite One', sans-serif;

}

/* -----------test parallax----------------------------------*/

.wrapper{
    width: 100%;
    margin: 0 auto;
  }

.container{    
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Kite One', sans-serif;
    
  }

  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }
  
  
  section.module.parallax-1{
    background-image: url("imagens-uni/Ilustra-para-site-1920x.png")
  }
  
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  .texto-fontes{    
    position: relative;
    text-align: justify;
    padding: 20px;
    font-size: 80px;
    font-family: 'Squada One', cursive;
}
.imagem-grade-logo{    
    width: 99,9%;      
}
.lista-u {
    margin: 10px 20px;
    margin-top: 50px;
    text-align: justify;    
    line-height: 1.8em;
    font-size: 1.3em;
}
/* ----------------------SEGUNDO PARALLAX--------------------------------*/
.wrapper2{
    width: 100%;
    margin: 0 auto;
  }

.container{    
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Kite One', sans-serif;
  }
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }
  
  
  section.module.parallax-2{
    background-image: url("imagens-uni/Unieburro.jpg")
  }
  
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  #linha-horizontal-2{
    margin-top: 50px;
    width: 100%;
    border: 1px solid var(--cor6);
    color: var(--cor6);
  }
  .container-2{
    
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Kite One', sans-serif;
    flex-wrap: wrap
    
   
  }
  .botao-cores{
    background-color: #ff3399;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: white;
}
.botao-cores2{
    background-color: #ffffff;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ff3399;
    
}
.botao-cores3{
    background-color: #fab1d3;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}
.botao-cores4{
    background-color: #f5007b;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}

.botao-cores5{
    background-color: #f21f89;
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin: 20px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffffff;    
}
.imagem-logo-start{
    width: 180px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.p-gradiente{
    height: auto;
    display: flex;
   
    
    font-family: 'Kite One', sans-serif;
}

  

